
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Icons -->
  <link rel="icon" href="https://cdn.plyr.io/static/icons/favicon.ico"/>
  <link rel="icon" type="image/png" href="https://cdn.plyr.io/static/icons/32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="https://cdn.plyr.io/static/icons/16x16.png" sizes="16x16"/>
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.plyr.io/static/icons/180x180.png"/>


  <!-- Preload -->

  <link
    rel="preload"
    as="font"
    crossorigin
    type="font/woff2"
    href="https://cdn.plyr.io/static/fonts/gordita-bold.woff2"
  />

  <!-- Google Analytics-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132699580-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-132699580-1');
  </script>
<!--  <script src="js/jQuery.XDomainRequest.js"></script>-->
  <style>
    a {
      cursor: pointer;
    }
  </style>
<main>
  <div id="main-left">
    <form id="frm-search" action="#">
      <input type="text" name="keyword" id="keyword" placeholder="Type something and enter" autocomplete="off" autofocus>
      <input type="button" value="CLEAR" id="clear">
    </form>
    <div id="result-search"></div>
  </div>

  <div id="main-right">
    <div id="video"></div>
    <p id="title-queue"></p>
    <div id="queue-play"></div>
  </div>

  <div class="clear-fix"></div>
  <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
</main>
<div class="grid">
  <main>
    <div id="container">
      <button onclick="aa()" id="ok1">OK</button>
      <a onclick="aa()" name="tSSiS-aSXLo" id="ok"> tSSiS-aSXLo</a>
      <a onclick="aa()" name="JIPbFMUmwQ4" id="1"> tSSiS-aSXLo</a>
      <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="Y_Yi6x7p-aU"></div>
    </div>
  </main>
</div>
<script>
  function aa() {
    $(document).ready(function () {
      player.autoplay=true;
      $("a").click(function () {
        let name = $(this).attr("name");
        player.source = {
          type: 'video',
          sources: [
            {
              src: name,
              provider: 'youtube',
            },
          ],
        };


      })
    })
  }
</script>
